body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #0D0D0D;
  }

  nav {
    display: flex;
    flex-direction: row;
    height: 20vh;  
  }

  header {
    display: flex;
    /* flex: 2; */
    flex-direction: row;
    /* background-color: #020202; */
    justify-content: space-between;
    margin-top: -15px;
    margin-left: -15px;
    height: 620px;
  }

  .logo {
    position: absolute;
    display: flex;
    flex: 2;
    top: 40px;
    left: 40px;
  }

  .nav-item {
    position: relative;
    color: #ffffff;
    left: 500px;
    display: flex;
    top: 60px;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.2em;
    margin-left: 90px;
  }

  .header-image {
    margin-top: 120px;
    width: 400px;
    height: 500px;
    margin-left: -800px;
  }

  .header-text {
    position: relative;
    left: -270px;
    top: 150px;
    color: #ffffff;
  }

  .header-text>h2 {
    font-size: 3em;
    width: 380px;
  }

  .header-text > h4 {
    color: #dd402e;
    font-size: 1.5em;
  }

  .header-text>p {
    font-size: 1.2em;
    width: 450px;
  }

  .fill-email {
    width: 120px;
    height: 40px;
    align-items: center;
    background-color: #dd402e;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 260px;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .api {
    margin-left: 50px;
    margin-top: 50px;
  }

  .card > p {
    width: 180px;
    margin-left: 20px;
    color: #ffffff;

  }

  .card > h3 {
    color: #ffffff;

  }

  .card > h4 {
    color: #f30808;

  }

  .card-prod > p {
    width: 180px;
    margin-left: 20px;
    color: #ffffff;

  }

  .card-prod > h3 {
    color: #ffffff;

  }

  .card-prod > h4 {
    color: #ffffff;

  }

  .card {
    background-color: #737475;
    border-radius: 5px; 
    width: 210px;  
    height: 250px; 
    margin-bottom: 50px;
  }

  .card > img {
    margin-top: 10px
  }

  .card-prod > img {
    margin-top: 10px
  }

  .card-prod {
    background-color: #dd402e;
    border-radius: 5px; 
    width: 210px;  
    height: 250px; 
    margin-bottom: 50px;
  }

  .card-prod > p {
    width: 180px;
    margin-left: 20px;
  }

  .card-flex {
    display: flex;
    flex: 1 30px;
    justify-content: space-between;
    margin-left: 50px;
  }

  .experience > h2{
    display: block;
    font-size: 6em;
    margin-top: 450px;
    margin-left: 350px;
    color: #fc0505; 

  }

  .experience >p {
    font-size: 1.5em;
    margin-left: 350px;
    margin-top: -70px;
    font-weight: bold;
    color: #ffffff;
    /* width: 80px; */
  }

  .square-box {
    display: block;
    margin-right: 50px;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    width: 70%;
  }

  .cards-box {
    display: block;
  }

  .row-host {
    display: flex;
    justify-content: space-between;
    width: 70%;
    z-index: 2;
    margin-left: -100px;

    /* margin-left: 200px; */

  }

  .row-vps {
    display: flex;
    justify-content: space-between;
    width: 70%;
    z-index: 2;
    margin-left: -100px;
  }

  .rect {
    background-color: #737475;
    width: 180px;  
    height: 90px; 
    margin-bottom: 50px;
  }

  .rect > h3 {
    color: #fc0505; 
  }

  .rect > p {
    color: #ffffff; 
  }



  .experience {
    background-color: #4b4e51;
    margin-left: -60px;
    margin-top: -380px;
    width: 1100px;
    height: 700px;
    z-index: -1;
  }

  .service {
    display: flex;
    flex: 0.5;
    margin-left: 40px;
    margin-right: 100px;
  }

  .thor-host > h3 {
    font-weight: bold;
    font-size: 2em;
    width: 850px;
    margin-right: 200px;
    color: #ffffff;
  }

  .thor-host > p {
    color: #ffffff;

  }

  .service-right {
    font-size: 1em;
    width: 560px;
    margin-top: 35px;
    margin-left: 150px;
  }

  .view-btn {
    width: 120px;
    height: 40px;
    align-items: center;
    background-color: #dd402e;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .wallpaper-img {
    margin-left: 100px;
    margin-top: 50px;
  }

  .wall-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  .down-wall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
    align-items: center;
  }

  .card-wall-img {
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .card-wall-img-size {
    width: 500px;
    height: 280px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .card-img {
    background-color: #4b4e51;
    width: 600px;
  }

  .card-img > h3 {
    color: #ffffff;
  }

  .card-img > h4 {
    color: #dd402e;
  }

  .quit-worry {
    background-color: #4b4e51;
      width: 70%;
      height: 250px;
      display: flex;
      align-items: center;
      text-align: center;
      margin-left: 200px;
      margin-top: 50px;
   }

   .now-btn {
    padding: 12px 35px;
      background-color: #f30b07;
      color: #e7eaec;
      border-width: 3px;
      border-color: #ffffff;
      font-weight: bold;
      margin-left: 200px;
      border: none;
   }
  
   .worry-about-left > h3 {
    font-size: 2em;
    width: 350px;
    margin-left: 150px;
    color: #ffffff;
   }
  
   .worry-about-left > p {
    font-size: 1em;
    width: 410px;
    margin-left: 150px;
    color: #ffffff;
   }

   .above-footer {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    color: #ffffff;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;

     /* height: 20vh;   */
  }
  .split {
    color: #ffffff;
    flex: 2;
    top: 60px;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.2em;
    margin-left: 220px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    /* margin-left: 60px; */
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #4b4e51;
  }

  .logo-details {
    margin-left: 70px;
    margin-top: 30px;
  }

  .media-icons {
    margin-right: 350px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 120px;
  }